<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TRILLIUM - Test Automation Test Suite">

<listeners>

<listener class-name="ExtentReports.ExtentReportClass" />
</listeners>

<test name="TRILLIUM Application Test Cases">
<classes>
<class name="com.wsa.qa.testcases.LoginPageTest"></class>
<class name="com.wsa.qa.testcases.HomePageTest"></class>
<class name="com.wsa.qa.testcases.SiteChangeTest"></class>
<class name="com.wsa.qa.testcases.WbwExpNewProp_TourLookupTest"></class>
<class name="com.wsa.qa.testcases.NewProbAddNewOwnerPageTest"></class>

</classes>
</test>
</suite>